<div class="main">
  <div class="container">
    <div class="col-md-4 col-md-offset-4 mx-auto">
      <div class="form-wrap">
        <div class="form-group text-center">
          <h2 class="logo-img mx-auto"></h2>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control my-input" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control my-input" %>
          </div>

          <div class="actions">
            <%= f.submit "ログインする", class: "btn btn-block g-button" %>
          </div>
        <% end %>
        <div class="col-md-12 ">
           <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
           </div>
        </div>
        <div class="form-group">
          <%= link_to "登録する", new_user_registration_path, class: "btn btn-block send-button tx-tfm" %>
        </div>
      </div>
    </div>
  </div>
</div>
